<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/desenhar.css">
</head>
<body>
    <header>
        <div>
            <button id = "downloadButton" class = "button">Baixar</button>
            <a id = "doDownload"></a>
        </div>
        <button class = "button" id = "limparButton">Limpar</button>
        <div>
            <label for="tamanho" id = "labelTamanho">Tamanho 4</label>
            <input type="range" id="tamanho" min="1" max="100" value = "4">
        </div>
        <div>
            <input type="color" id="inputColor">
            <label for="inputColor">Cor</label>
        </div>
        <div>
            <label for="selectTool">Ferramenta:</label>
            <select id="selectTool">
                <option value="pencil">Pincel</option>
                <option value="bucket">Lata de Tinta</option>
                <option value="colorPicker">Conta Gotas</option>
            </select>
        </div>
    </header>
    <div class = "documento">
        <canvas id = "quadro" width = "700" height = "512"></canvas>
    </div>
    <footer>
        <button id = "botaoRetornar"  class = "botaoStates"></button>
        <button id = "botaoReverter"  class = "botaoStates"></button>
    </footer>


    <script src = "js/draw.js"></script>
    <script src = "js/save.js"></script>
    <script src = "js/java.js"></script>
</body>
</html>