<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <img src="" alt="foto do usuário">
        </div>
        <h1>MOSART</h1>
    </header>
    <main>
        <div id="btn_action">
            <button id="play">Jogar</button>
            <button id="training">Treino</button>
            <button id="options">Opções</button>
            <button id="credits">Créditos</button>
        </div>
    </main>
</body>
</html>